<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>BlackOps Auto Inventory | Edit Car</title>
    <meta name="description" content="Tracks Your Car Inventory.">
    </head>

<header>
  <h1>BlackOps Auto Inventory<h1>

<hr>

<h2>Edit Car</h2>

<form action="/cars/<%=@car.id%>" method="post">
  <input type="hidden" name="_method" value="patch" id="hidden">
  Make: <input type="text" name="make" value="<%=@car.make%>">
  Model: <input type="text" name="model" value="<%=@car.model%>">
  Color: <input type="text" name="color" value="<%=@car.color%>">
  Year: <input type="number" name="year" value="<%=@car.year%>">
  <br>
  <br>
  <input type="submit" name="" value="submt"/>

</form>
